body {
  background-color: #333333;
}

.posts-container {
  background-color: #000000;
  width: 600px;
  height: 900px;
  margin: 1rem auto;
  padding: 2rem;
}

.post {
  background-color: #333333;
  border-radius: 8px;
  margin-bottom: 0rem;
  color: #ffffff;
}
.post-header-container {
  /*   border: 1px solid blue; */
  /*   display: flex; */
  /*   flex-direction: column; */
}
.post-header-top {
  position: relative;
  padding: 12px;
}
.post-header-title {
  text-align: center;
  font-size: 18px;
  margin: 0;
}
.post-header-bottom {
  display: flex;
  gap: 8px;
  border-top: 1px solid #888888;
  padding: 12px 12px 0;
}

.post-header-item:nth-child(2) {
  flex: 1 1 auto;
}

.post-header-item .poster-name {
  font-weight: bold;
}
.avatar {
  clip-path: circle();
  object-fit: cover;
}

.header-action {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #cccccc;
}
.action-close {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 32px;
  line-height: 30px;
}
.action-menu {
  padding: 8px;
  display: flex;
}

.header-action:hover {
  background-color: #666666;
}
.post-blurb {
  margin: 10px 12px;
}
.post-content {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-reactions-counter {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #999999;
  color: #bbbbbb;
}
.post-reactions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.post-reactions-list {
  display: flex;
  gap: 0px;
  padding: 0;
  list-style-type: none;
  color: #cccccc;
}

.post-reactions-buttons {
  display: flex;
  justify-content: space-around;
  gap: 4px;
  padding: 8px 0;
  border-bottom: 1px solid #999999;
}

.reaction-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #cccccc;
  padding: 8px;
  flex: 1 1 auto;
}

.reaction-button:hover {
  background-color: #666;
}

.post-comments {
  padding-top: 8px;
}

.post-comments input {
  width: 100%;
  padding: 8px;
}
