body {
  background-color: #ddeeff;
}

.super-cool {
  font-weight: bold;
}

.not-bad {
  background-color: #dddddd;
  font-style: italic;
}

.actually-bad {
  background-color: #474747;
  color: #bae;
}

.no-bullet {
  list-style-type: none;
}

/* Utility classes */
.border {
  border: 1px solid #888888;
}
.border-green {
  border-color: green;
}
.bg-red-200 {
  background-color: #fecaca;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
